<!DOCTYPE html>
<head>
  <title>Swarify</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="../js/metronome.js"></script>
  <script src="../js/app.js"></script>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('view_home') }}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('view_about') }}">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">History</a>
      </li>    
        </ul>
    </div>  
</nav>
      
<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Swarify</h1>
  <p>Master the art of alankar, one step at a time, the easy way !</p> 
</div>


<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-3">
        <form method='post' action='http://127.0.0.1:5000/generate'>
            <div class="form-group">
              <label for="Level" style="color: black; font-size: 15px">Notes</label>
              <select class="form-control" id="numnotes" name="NumNotes" Required>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
              </select>
            </div>
            <div class="form-group">
              <label for="Level" style="color: black; font-size: 15px">Length</label>
              <select class="form-control" id="length" name="Length" Required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
              </select>
            </div>
            <div class="form-group">
                <label for="Raga" style="color: black; font-size: 15px" class="col-form-label">Raga</label>
                <select class="form-control" id="raga" name="Raga" Required>
                  <option value="Bilawal">Bilawal</option>
                  <option value="Kafi">Kafi</option>
                </select>
              </div>
              <div class="form-group">
              <button type="submit" class="btn btn-outline-dark play-buttons">Generate</button>  
              </div>
            </form>                      
    </div>
    
    <div class="col-6">
      <div class="fakeimg">
       {% if result %}
        <table> 
          {% for pattern in result.pattern %}
          <tr>
            {% for notes in pattern %}
            <td>{{notes}}</td>
            {% endfor %}
          </tr>
            {% endfor %}
        </table>
        {%endif%}
      </div>
    </div>
    <div class="col-3" style="margin-top: 20px;">
      <div class="form-group">
      <label for="Tempo" style="color: black; font-size: 15px" class="col-form">Metronome</label>
        <select class="form-control" id="tempo" name="Tempo" Required>
          <option value="50">50 BPM</option>
          <option value="75">75 BPM</option>
          <option value="100">100 BPM</option>
          <option value="125">125 BPM</option>
          <option value="150">150 BPM</option>
          <option value="175">175 BPM</option>
          <option value="200">200 BPM</option>
          <option value="225">225 BPM</option>
        </select>
      </div>
        <div class="form-group">  
        <button type="submit" class="btn btn-outline-dark">Play</button>
        <button type="submit" class="btn btn-outline-dark">Pause</button> 
      </div>  
      <label for="metronome">Counter</label>
      <div class="form-group" style='margin-top: 10px;'>
        <div class='btn' style='margin-left: 20px;'>0</div>
      </div>
           <div class="form-group" style='margin-top: 10px;'>    
          <button type="submit" class="btn btn-outline-dark">+</button>
          <button type="submit" class="btn btn-outline-dark">-</button> 
        </div>  
    </div>
    </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>@2021 Copyright : Vijayasri Iyer</p>
</div>
</body>
</html>
